body {
  margin: 0;
}

.container {
  background: url("http://31.media.tumblr.com/4fe4acec31f4ca6f6330eb00ccbe6ba0/tumblr_my2f5ouUvu1sow176o1_500.jpg");
  background-size: cover;
}

.col-sm-1 {
  height: 1000px;
}
.panel-1 {
  border: 1px solid pink;
}
.panel-2 {
  border: 1px solid purple;
}

.panel-3 {
  border: 1px solid lightblue;
}

.panel-4 {
  border: 1px solid teal;
}

.panel-5 {
  border: 1px solid orange;
}

.panel-6 {
  border: 1px solid grey;
}

.panel-7 {
  border: 1px solid seagreen;
}

.panel-8 {
  border: 1px solid green;
}

.panel-9 {
  border: 1px solid #1eabc7;
}

.panel-10 {
  border: 1px solid red;
}

.panel-11 {
  border: 1px solid black;
}

.panel-12 {
  border: 1px solid blue;
}