html,body, .big-wrap {
    width:100%;
    margin: 0;
    height: 100vh;
    background: powderblue;
    /*background-size: cover;*/
    font-family: 'Arial', sans-serif;
}

#footer {
  height: 30px;
  background: black;
  bottom: 0;
  /*position: absolute;*/
  position: fixed;
  width: 100%;
  font-family: 'Arial', sans-serif;
  text-align: center;
  line-height: 30px;
}

#footer a {
  color: white;
  text-decoration: none;
  padding-left: 5%;
  padding-right: 5%;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-size: .8em;
}

.wrapper {
  background-size: cover;
  position: relative;
}

.wrapper div{
  width:calc(100% / 56);
  display:inline-block;
}

.panel {
  float: left;
  /*border: 1px solid pink;*/
  margin: 0 auto;
  height: 90vh;
}


#IMG_01 {
  background-image: url("./images/IMG_01.JPG");
}

#IMG_02 {
  background-image: url("./images/IMG_02.JPG");
}
#IMG_03 {
  background-image: url("./images/IMG_03.JPG");
}
#IMG_04 {
  background-image: url("./images/IMG_04.JPG");
}
#IMG_05 {
  background-image: url("./images/IMG_05.JPG");
}
#IMG_06 {
  background-image: url("./images/IMG_06.JPG");
}
#IMG_07 {
  background-image: url("./images/IMG_07.JPG");
}
#IMG_08 {
  background-image: url("./images/IMG_08.JPG");
}
#IMG_09 {
  background-image: url("./images/IMG_09.JPG");
}
#IMG_10 {
  background-image: url("./images/IMG_10.JPG");
}
#IMG_11 {
  background-image: url("./images/IMG_11.JPG");
}
#IMG_12 {
  background-image: url("./images/IMG_12.JPG");
}
#IMG_13 {
  background-image: url("./images/IMG_13.JPG");
}
#IMG_14 {
  background-image: url("./images/IMG_14.JPG");
}
#IMG_15 {
  background-image: url("./images/IMG_15.JPG");
}
#IMG_16 {
  background-image: url("./images/IMG_16.JPG");
}
#IMG_17 {
  background-image: url("./images/IMG_17.JPG");
}
#IMG_18 {
  background-image: url("./images/IMG_18.JPG");
}
#IMG_19 {
  background-image: url("./images/IMG_19.JPG");
}
#IMG_20 {
  background-image: url("./images/IMG_20.JPG");
}
#IMG_2 {
  background-image: url("./images/IMG_2.JPG");
}
#IMG_21 {
  background-image: url("./images/IMG_21.JPG");
}
#IMG_22 {
  background-image: url("./images/IMG_22.JPG");
}
#IMG_23 {
  background-image: url("./images/IMG_23.JPG");
}
#IMG_24 {
  background-image: url("./images/IMG_24.JPG");
}
#IMG_25 {
  background-image: url("./images/IMG_25.JPG");
}
#IMG_26 {
  background-image: url("./images/IMG_26.JPG");
}
#IMG_27 {
  background-image: url("./images/IMG_27.JPG");
}
#IMG_28 {
  background-image: url("./images/IMG_28.JPG");
}
#IMG_29 {
  background-image: url("./images/IMG_29.JPG");
}
#IMG_30 {
  background-image: url("./images/IMG_30.JPG");
}
#IMG_31 {
  background-image: url("./images/IMG_31.JPG");
}
#IMG_32 {
  background-image: url("./images/IMG_32.JPG");
}
#IMG_33 {
  background-image: url("./images/IMG_33.JPG");
}
#IMG_34 {
  background-image: url("./images/IMG_34.JPG");
}
#IMG_35 {
  background-image: url("./images/IMG_35.JPG");
}
#IMG_36 {
  background-image: url("./images/IMG_36.JPG");
}
#IMG_37 {
  background-image: url("./images/IMG_37.JPG");
}
#IMG_38 {
  background-image: url("./images/IMG_38.JPG");
}
#IMG_39 {
  background-image: url("./images/IMG_39.JPG");
}
#IMG_40 {
  background-image: url("./images/IMG_40.JPG");
}
#IMG_41 {
  background-image: url("./images/IMG_41.JPG");
}
#IMG_42 {
  background-image: url("./images/IMG_42.JPG");
}
#IMG_43 {
  background-image: url("./images/IMG_43.JPG");
}
#IMG_44 {
  background-image: url("./images/IMG_44.JPG");
}
#IMG_45 {
  background-image: url("./images/IMG_45.JPG");
}
#IMG_46 {
  background-image: url("./images/IMG_46.JPG");
}
#IMG_47 {
  background-image: url("./images/IMG_47.JPG");
}
#IMG_48 {
  background-image: url("./images/IMG_48.JPG");
}
#IMG_49 {
  background-image: url("./images/IMG_49.JPG");
}
#IMG_50 {
  background-image: url("./images/IMG_50.JPG");
}
#IMG_51 {
  background-image: url("./images/IMG_51.JPG");
}
#IMG_52 {
  background-image: url("./images/IMG_52.JPG");
}
#IMG_53 {
  background-image: url("./images/IMG_53.JPG");
}
#IMG_54 {
  background-image: url("./images/IMG_54.JPG");
}
#IMG_55 {
  background-image: url("./images/IMG_55.JPG");
}
#IMG_56 {
  background-image: url("./images/IMG_56.JPG");
}


/*g a l l e r y*/

.gallery-wrap h1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 2%;
}

.card {
  margin-bottom: 40px;
}

.card img {
  height: auto;
  max-width: 100%;
}

.details {
  font-size: .9em;
  margin-left: 10px;
}

.title {
  letter-spacing: 2px;
  font-weight: lighter;
}



/*NATURAL SIZE IMG*/
/*.card {
  height: 100%;
  width: 100%;
}

.card img {
  padding-bottom: 40px;
}*/
